<?xml version="1.0"?>
<robot name="realsense_d436_standalone" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="../source/xacro/_materials.urdf.xacro"/>
  <xacro:include filename="../source/xacro/_usb_plug.urdf.xacro"/>
  <xacro:include filename="../source/xacro/_d436.urdf.xacro"/>

  <link name="realsense_d436_mount"/>

  <xacro:sensor_d436
    parent="realsense_d436_mount"
    name="camera"
    use_nominal_extrinsics="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d436>

</robot>
